<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
      <div class="form-group">
        <label for="adSoyad">Ad Soyad</label>
        <input type="text" formControlName="adSoyad" class="form-control" id="adSoyad" placeholder="Ad Soyad" [ngClass]="{'is-invalid': submitted && component.adSoyad.errors}">
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.adSoyad.errors?.required">Lütfen ad soyadı boş geçmeyiniz.</small>
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component.adSoyad.errors?.maxlength || component.adSoyad.errors?.minlength)">Lütfen ad soyadı 3 ile 50 karakter arasında yazınız.</small>
      </div>
      <div class="form-group">
        <label for="kullaniciAdi">Kullanıcı Adı</label>
        <input type="text" formControlName="kullaniciAdi" class="form-control" id="kullaniciAdi" [ngClass]="{'is-invalid': submitted && component.kullaniciAdi.errors}" placeholder="Kullanıcı Adı">
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.kullaniciAdi.errors?.required">Lütfen kullanıcı adını boş geçmeyiniz.</small>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email" [ngClass]="{'is-invalid': submitted && component.email.errors}">
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.email.errors?.required">Lütfen emaili boş geçmeyiniz.</small>
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.email.errors?.email">Lütfen emaili düzgün giriniz.</small>
      </div>
      <div class="form-group">
        <label for="password">Şifre</label>
        <input type="password" formControlName="sifre" class="form-control" id="password" placeholder="Şifre" [ngClass]="{'is-invalid': submitted && component.sifre.errors}">
      </div>
      <div class="form-group">
        <label for="password">Şifre Tekrar</label>
        <input type="password" formControlName="sifreTekrar" class="form-control" id="password" placeholder="Şifre Tekrar" [ngClass]="{'is-invalid': submitted && component.sifreTekrar.errors}">
        <small *ngIf="submitted && frm.hasError('notSame')">Lütfen şifreyi doğrulayınız.</small>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>

  </div>
  <div class="col-md-3"></div>
</div>
