<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">

    <div class="form-group">
      <label for="username">Kullanıcı Adı</label>
      <input #txtUsernameOrEmail type="text" class="form-control" id="username" placeholder="Kullanıcı Adı & Email">
      <small class="form-text text-muted invalid-feedback">***</small>
    </div>
    <div class="form-group">
      <label for="password">Şifre</label>
      <input #txtPassword type="password" class="form-control" id="password" placeholder="Şifre">
    </div>

    <asl-google-signin-button></asl-google-signin-button>
    <img src="../../../assets/facebook.png" style="width: 30px; height: 30px; cursor:pointer;" (click)="facebookLogin()" />
    <br />
    <button style="margin-top:5px;" type="submit" class="btn btn-primary" (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Giriş Yap</button>

    <a style="margin-top:5px;margin-left:5px;" routerLink="/password-reset" class="btn btn-secondary">Şifremi Unuttum</a>

  </div>
  <div class="col-md-3"></div>
</div>
