<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="orderCode">
      <th mat-header-cell *matHeaderCellDef> Order Code </th>
      <td mat-cell *matCellDef="let element"> {{element.orderCode}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef> Total Price </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
    </ng-container>

    <ng-container matColumnDef="viewdetail">
      <th mat-header-cell *matHeaderCellDef width="30">  </th>
      <td mat-cell *matCellDef="let element"> <img (click)="showDetail(element.id)" style="cursor:pointer" src="../../../../../assets/detail.png" width="25" height="25" /> </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef width="30">  </th>
      <td mat-cell *matCellDef="let element"
          appDelete
          [id]="element.id"
          (callback)="getOrders()"
          controller="orders">
        <!--<img src="../../../../../assets/delete.png" width="25" height="25" (click)="delete(element.id, $event)" />-->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="pageChanged()"
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
