<div class="row" *ngIf="state.state">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" #txtPassword>
    </div>
    <div class="mb-3">
      <label for="passwordConfirm" class="form-label">Password Confirm</label>
      <input type="password" class="form-control" id="passwordConfirm" placeholder="Password Confirm" #txtPasswordConfirm>
    </div>
    <button type="button" style="margin-top:5px;" class="btn btn-primary" (click)="updatePassword(txtPassword.value, txtPasswordConfirm.value)">Şifreyi Güncelle</button>

  </div>
  <div class="col-md-3"></div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state.state">
  Bu link kullanılmamaktadır.
</div>
