<mat-form-field appearance="fill" class="product-create">
  <mat-label>Name</mat-label>
  <input matInput #txtName>
</mat-form-field>
<mat-form-field appearance="fill" class="product-create">
  <mat-label>Stock</mat-label>
  <input matInput type="number" min="0" value="0" #txtStock>
</mat-form-field>
<mat-form-field appearance="fill" class="product-create">
  <mat-label>Price</mat-label>
  <input matInput type="number" min="0" value="0" #txtPrice>
</mat-form-field>

<button mat-raised-button class="btn" color="primary" (click)="create(txtName, txtStock, txtPrice)">Create Product</button>
