<div class="row">
  <div class="card" style="width: 18rem;float:left;margin:5px;"
       *ngFor="let product of products;">
    <img width="250" height="250" *ngIf="!product.productImageFiles.length" src="../../../../assets/default-product.png" class="card-img-top" alt="...">
    <img width="250" height="250" *ngIf="product.productImageFiles.length" src="{{baseUrl.url}}/{{product.imagePath}}" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">Fiyat : {{product.price | currency:'₺'}} <br /> Stock : {{product.stock}} </p>
      <a class="btn btn-success" (click)="addToBasket(product)">Sepete Ekle</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link">
            {{currentPageNo}}/{{totalPageCount}}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" [routerLink]="['/products', currentPageNo - 1 <= 0 ? 1 : currentPageNo - 1]">
            Önceki
          </a>
        </li>
        <li class="page-item" *ngFor="let pageNo of pageList;" routerLinkActive="active">
          <a class="page-link" [routerLink]="['/products', pageNo]">
            {{pageNo}}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" [routerLink]="['/products', currentPageNo + 1 >= totalPageCount ? totalPageCount : currentPageNo + 1]">
            Sonraki
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-3"></div>
</div>


